* {
    box-sizing: border-box;
}

/* Global Styles*/
body {
    /*font-size: 15px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;*/
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #f4f4f4;*/
}
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
button {
    border: 1px solid black;
    padding: 10px 30px;
    color: black;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000000;
}
label {
    color: #757575;
}
.drop_down {
    border: none;
    background-color: #ffffff;
    padding: 5px;
    font-size: 16px;
}

/*Header*/
#h3_header h3 {
    text-align: center;
    letter-spacing: 4px;
}

#h3_header {
    position: relative;
    margin: 20px;
}
.container i {
    font-size: 30px;
    color: #000000;
    margin: 20px;
}
#cart_fa {
    position: absolute;
    right: 0;
    top: -20px;
}
#back_fa {
    position: absolute;
    left: 0;
    top: -20px;
}
nav, ul {
    margin: 40px 0px 0px 0px;
    padding: 0;
}
.nav_bar {
    margin: auto;
    text-align: center;
}
.nav_bar li {
    list-style-type: none;
    display: inline-block;
    padding-bottom: 10px;
}
li a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    padding: 5px 10px;
}

/*Main Content*/
.main_content, .page_info, .cart_prd_list {
    width: 80%;
    margin: auto;
}
.main_content div {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}
.half_content {
    display:flex;
    flex-direction: row;
    flex-wrap: no-wrap;
}
.page_info {
    position: relative;
    top: 0px;
    text-align: center;
    font-size: 13px;
}
.page_info a {
    color: #757575;
}
.page_info span {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
}

/*Product Listing Grid*/
.product_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0;

}
.prd_name_price {
    line-height: 1;
    font-size: 13px;
    margin-top: 30px;
}
@media screen and (min-width: 1200px) {
    .product_list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
    .product_list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Product Detail*/
#product_desc {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 90px;
    /*flex-basis: 50%;
    flex-direction: row;
    flex-wrap: wrap;*/
}
#product_desc .prd_img {
    justify-self: end;
}
#product_desc .prd_desc {
    justify-self: start;
    padding: 20px;
}
.size_qty {
    margin-top: 30px;
}
.size_qty > div {
    border-top: 1px solid #757575;
    padding: 15px 0px ;
}
#qty, #size {
    margin: 0;
    border: none;
    background-color: #ffffff;
    color: #000000;
    width: 83%;
}
.prd_qty {
    border-bottom: 1px solid #757575;
}
.prd_size  select {
    float: right;
}
.prd_qty select {
    float: right;
}

.prd_desc > p {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
}
.short_desc {
    margin: 30px 0px;
}
.short_desc p, ul {
    color: #757575;
    font-size: 13px;
    text-align: justify;
    text-justify: auto;
}
.short_desc ul li {
    margin-left: 25px;
}

@media screen and (min-width: 1250px) {
    #product_desc {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4em;
    }
    #product_desc .prd_desc {
        width: 50%;
    }
}

/*Cart Page*/
.cart_info {
    color: #757575;
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
}

.img_name > div {
    float: left;
    padding: 10px;
    margin-top: 20px;
}
.qty_size_price > div {
    float: right;
    padding: 10px;
    margin-top: 20px;
    margin-left: 100px;
}
#cart_prd_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
}
.cart_prd_list .cart_total {
    float: right;
    position: relative;
    top: 60px;
    right: 150px;
}